.fa {
  > * {
    font-family: shabnam;
  }
}

.en {
  > * {
    font-family: allerregular;
  }
}

.contact {
  text-align: center;
  > div {
    list-style-type: none;
  }
}
.light {
  > p {
    color: black;
  }
}
.dark {
  > p {
    color: rgb(161, 161, 161);
  }
}
