@use "../css/UI" as variables;

.header {
  margin-bottom: 25px;
  .switchContainer {
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
  .infoContainer {
    padding-top: 25px;
    > div {
      text-align: center;
      margin-bottom: 10px;
    }
    .imageContainer {
      > img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    .name {
      font-weight: bold;
      font-size: 25px;
    }
  }
}
.light {
  .infoContainer {
    > div {
      color: black;
    }
  }
}
.dark {
  .infoContainer {
    > div {
      color: rgb(196, 196, 196);
    }
  }
}
