.menu {
  height: 100vh;
  width: 70%;
  z-index: 1000;
  position: absolute;
  right: -400px;
  //   transition: 0.5s cubic-bezier(0.36, -0.01, 0, 0.77);
  transition: 0.5s;
}
.showMenu {
  right: 0;
}
.light {
  background-color: rgba(230, 230, 230, 0.903);
}
.dark {
  background-color: rgba(51, 51, 51, 0.877);
}
