.navbarContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .navbar {
    display: flex;
    justify-content: space-evenly;
    width: 350px;

    padding-bottom: 5px;
    > a {
      // margin: 0 25px;
      text-decoration: none;
    }
    > .isActive {
      font-weight: bold;
    }
  }

  .light {
    border-bottom: 2px solid black;
    > a {
      color: rgb(68, 68, 68);
    }
    > .isActive {
      color: black;
    }
  }

  .dark {
    border-bottom: 2px solid rgba(198, 198, 198, 0.733);
    > a {
      color: rgba(201, 201, 201, 0.815);
    }
    > .isActive {
      color: rgba(255, 255, 255, 0.815);
    }
  }
}
