.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  border-bottom: 2px solid black;
  > a {
    text-decoration: none;
    color: black;
  }
  > .isActive {
    font-weight: bold;
  }
}
