.switch {
  > button {
    border-radius: 5px;
    border: none;
    width: 70px;
    height: 70px;
    display: none;
    > i {
      font-size: 20px;
    }
  }
  > button:hover {
    cursor: pointer;
  }
  .menuButton {
    display: block;
  }
}
@media only screen and (min-width: 600px) {
  .switch {
    > button {
      width: 70px;
      height: 70px;
      display: block;
      > i {
        font-size: 20px;
      }
    }
    .menuButton {
      display: none;
    }
  }
}

.light {
  > button {
    background-color: rgba(255, 255, 255, 0.34);
    > i {
      color: rgb(0, 63, 92);
    }
  }
}
.dark {
  > button {
    background-color: rgba(116, 116, 116, 0.473);
    > i {
      color: rgba(255, 255, 255, 0.818);
    }
  }
}
